<div class="contact-section">
    <h2>Contact Us</h2>
    <p>We're thrilled that you want to connect with us.At Storecode, your thoughts, questions, and feedback are the
        driving
        force behind our commitment to excellence. We're here to listen, assist, and engage with you. Choose your
        preferred
        way to reach out:</p>
    <h3>Contact Form</h3>
    <p>Got a specific question or request? Fill out the form below, and we'll get back to you in no time.
        Your message is important to us, and we're dedicated to providing the answers and solutions you need.</p>
    <h3>Email</h3>
    <p>Prefer to send us an email? Feel free to reach out to our dedicated support team at
        support@storecode.in. We're always ready to assist you, whether it's a technical issue
        or simply a friendly chat.</p>
    <p>For Influencers: If you're an influencer looking to join our community or have questions
        related to your account, please contact our dedicated Influencer Support Team at influencers@storecode.in.</p>
    <p>For Brand Collaborations: For business-related inquiries, brand collaborations, or partnership opportunities,
        please contact our Collaboration Team at business@storecode.in. We're always open to exploring new opportunities
        and ideas.</p>
    <h3>Social Media</h3>
    <p>Connect with us on social media to stay updated on the latest Storecode news, product highlights, and community stories.</p>
    <h3>Visit Us</h3>

    <div class="address-section">

        <p>If you're in the neighborhood, why not drop by our headquarters? We'd love to meet you in person. Here's our
            address:</p>
        <address>
            <b>
                <p>Storecode Headquarters</p>
            </b>
            <p>Kharadi</p>
            <p>Pune, India</p>
            <b>
                <p>Working Hours:</p>
            </b>
            <p>Monday - Friday: 9:00 AM - 6:00 PM</p>
            <p>Saturday: 10:00 AM - 4:00 PM</p>
            <p>Sunday: Closed</p>
        </address>
    </div>

    <h5>Let's Connect, Collaborate, and Create Magic Together!</h5>
    <h6>Thank you for choosing Storecode. We value your trust and look forward to hearing from you. Your feedback fuels
        our innovation,
        and your questions drive us to provide the best experiences. Join us on this exciting journey, and let's make
        every interaction
        with Storecode exceptional.</h6>
</div>